<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="X4EverContext" connectionString="Data Source=OGVMHOST1;Initial Catalog=X4everApp;User ID=X4everAppUser;Password=organo1234;Persist Security Info=True; Connection Timeout=1200;" providerName="System.Data.SqlClient" />-->
    <add name="X4EverContext" connectionString="Data Source=192.169.156.224;Initial Catalog=X4everApp;User ID=X4everAppUser;Password=Organo@1243;Persist Security Info=True; Connection Timeout=1200;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AuthTokenExpiry" value="3" />
    <add key="AuthTokenExpiry_PeriodType" value="M" />
    <!--Y:Years(s), M:Month(s), D:Day(s), H:Hour(s), Min:Minute(s) 
    Note: If not exists then session will last for 30 Minutes.-->
    <add key="aspnet:MaxHttpCollectionKeys" value="5001" />
    <add key="SecurityKey" value="x4GtAGamEs" />
    <add key="API_BaseUrl" value="http://192.168.60.225:8214" />

    <add key="apns_certificate_path_dev" value="~/APNSCertificate/ApplePushDevelopmentiOSServices_Development.p12" />
    <add key="apns_certificate_password_dev" value="Abcd1234!@#" />

    <!--<add key="apns_certificate_path_prod" value="~/APNSCertificate/ApplePushServices_Production.p12" />-->
    <add key="apns_certificate_path_prod" value="~/APNSCertificate/ApplePushCertificates/Certificates.p12" />
    <add key="apns_certificate_password_prod" value="Abcd1234!@#" />

    <add key="pushNotificationPlatforms" value="Android,iOS,email" />
    <!-- Value should be either Production or Development -->
    <add key="APIEnvironment" value="Production" />
    <!-- Frontend code valid -->
    <add key="frontend_auth_code" value="09FACA0A-ED68-433D-A8CA-8FFFB34E401F" />
    <!-- Frontend code valid until date (yyyy-MM-dd hh:mm:ss) -->
    <add key="frontend_auth_valid" value="2019-04-30 12:00:00" />

    <add key="android:Version" value="2.1.1.0" />
    <add key="android:VersionCode" value="21100" />
    <add key="android:PackageName" value="com.organo.x4ever" />
    <add key="android:AppName" value="X4Ever" />
    <add key="ios:Version" value="2.0.0.0" />
    <add key="ios:VersionCode" value="2000" />
    <add key="ios:PackageName" value="com.organo.x4ever" />
    <add key="ios:AppName" value="x4ever/id1413386991" />

    <add key="tracker:IsLastDeleteOnly" value="true" />
    <add key="tracker:IsDeleteAllowed" value="false" />
    <add key="tracker:IsWeightRequiredAfterTrackerDelete" value="true" />
    <add key="tracker:IsViewAllowed" value="true" />
    <add key="tracker:IsDownloadAllowed" value="false" />

    <add key="weblink:x4ever_blogs" value="https://blog.organogold.com/app-posts/" />
    <add key="weblink:x4ever_blogs_es" value="https://blog.organogold.com/es/app-posts/" />
    <add key="weblink:x4ever_emeablogs" value="https://emeablog.organogold.com/app-posts/" />
         <!--//https://emeablog.organogold.com/special-offer-free-membership-with-starter-kit/" />-->

    <add key="SmtpSever" value="smtp.office365.com" />
    <add key="SSL" value="STARTTLS" />
    <add key="Mailer" value="smtp" />
    <add key="Username" value="support@x4ever.club" />
    <add key="Password" value="ghTums6r!" />
    <add key="ChecksumKey" value="-" />
    <add key="SendFrom" value="support@x4ever.club" />
    <add key="Port" value="587" />
    <add key="SmtpAuth" value="true" />

    <add key="debugLogs" value="ErrorLog\DebugLogs" />
    <add key="errorLogs" value="ErrorLog\ErrorLogs" />
    <add key="filterLogs" value="ErrorLog\FilterLogs" />
    <add key="uowErrorLogs" value="ErrorLog\uowErrorLogs" />
    <add key="genericRepositoryError" value="ErrorLog\grErrorLogs" />
    <add key="emailError" value="ErrorLog\emailFailedLogs" />
    <add key="authentication_filter:collect" value="true" />
    <!-- It can be email/username/user_id -->
    <add key="authentication_filter:identity" value="0;78" />
    <add key="passwordRequestCodeExpireMinutes" value="30" />
    <add key="passwordExpireMinutes" value="0" />
    <add key="profilePhotoMetaKey" value="profilePhoto" />
    <add key="sendConfirmationEmail" value="false" />
    <add key="linkConfirmationEmail" value="https://mapp.oghq.ca/api/actions/updateuserstatus?activation_code=" />
    <add key="photoUploadSizeKB" value="1024" />
    <add key="fileUploadDirectoryName" value="Uploads" />
    <add key="usernameLengthMin" value="5" />
    <add key="usernameLengthMax" value="100" />
    <add key="passwordLengthMin" value="5" />
    <add key="passwordLengthMax" value="100" />
    <add key="_OGX_FILE__ENG" value="CA_A_DAY_WITH_OGX_ENG_9346859745.pdf" />
    <add key="_OGX_FILE__SPA" value="US_A_DAY_WITH_OGX_SPA_827q36482348347.pdf" />
    <add key="_OGX_FILE__FRA" value="CA_A_DAY_WITH_OGX_FRE_83HKD98IH9YAF.pdf" />
    <add key="_OGX_FILE__ITA" value="CA_A_DAY_WITH_OGX_ENG_9346859745.pdf" />

    <add key="NEW_ACCOUNT_SUBJECT_EN" value="Welcome to X4ever- Find your FENIX!" />
    <add key="WEIGHT_GOAL_SETUP_SUBJECT_EN" value="Welcome to the X Challenge" />
    <add key="AFTER_7_DAYS_ACCOUNT_CREATION_SUBJECT_EN" value="How much weight have you lost this week?" />
    <add key="AFTER_EVERY_7_DAYS_SUBJECT_EN" value="How much weight have you lost this week?" />
    <add key="LOSING_10_LBS_SUBJECT_EN" value="Congratulations on losing your first 10 pounds" />
    <add key="LOSING_25_LBS_SUBJECT_EN" value="Congratulations on losing 25 pounds" />
    <add key="LOSING_50_LBS_SUBJECT_EN" value="Congratulations on losing your first 50 pounds" />
    <add key="LOSING_100_LBS_SUBJECT_EN" value="Congratulations on losing your first 100 pounds" />
    <add key="ACHIEVED_GOAL_SUBJECT_EN" value="You’ve reached your goal!" />
    <add key="FORGOT_PASSWORD_SUBJECT_EN" value="X4Ever, Forgot Password?" />

    <add key="NEW_ACCOUNT_SUBJECT_ES" value="¡Le damos la bienvenida a X4ever!" />
    <add key="WEIGHT_GOAL_SETUP_SUBJECT_ES" value="Bienvenido(a) al X-Challenge" />
    <add key="AFTER_7_DAYS_ACCOUNT_CREATION_SUBJECT_ES" value="¿Cuánto peso ha perdido esta semana?" />
    <add key="AFTER_EVERY_7_DAYS_SUBJECT_ES" value="¿Cuánto peso ha perdido esta semana?" />
    <add key="LOSING_10_LBS_SUBJECT_ES" value="Felicitaciones por perder sus primeras 10 libras" />
    <add key="LOSING_25_LBS_SUBJECT_ES" value="¡Felicitaciones, ya perdió 25 libras!" />
    <add key="LOSING_50_LBS_SUBJECT_ES" value="¡Felicitaciones, ya perdió 50 libras!" />
    <add key="LOSING_100_LBS_SUBJECT_ES" value="¡Felicitaciones por perder 100 libras!" />
    <add key="ACHIEVED_GOAL_SUBJECT_ES" value="¡Ha alcanzado su objetivo!" />

    <add key="WeightSubmitIntervalDays" value="7" />
    <!--Seperate with (;)-->
    <add key="excludingSubmitCurrentWeight" value="apple@organogold.com" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/APILog/${date:format=yyyy-MM-dd}-api.log" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="Authorization Api Services" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
    </rules>
  </nlog>
</configuration>